//color-variables

$color-white:#fff;

$color-black:#000;

$color-grey-light:#ccc;
$color-grey:#666;
$color-grey-dark:#585757db;

$color-yellow:#f4c406;


//font-styles
$font-heading: 'Roboto Condensed',
sans-serif;
$font-paragraph: 'Open Sans Condensed',
sans-serif;
$font-heading-secondary: 'Oswald',
sans-serif;

//font-size
$font-size-normal:1.5rem;
$font-size-small:1rem;
$font-size-large:2rem;